/* Navbar */
.navbar {
    position: relative;
    z-index: 1;

}

.navbar-brand {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    font-style: italic;
    color: white !important;
}

.nav-link{
    color: white !important;
    text-transform: uppercase;
    margin-right: 25px;
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: solid 3px blue;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}



/* Jumbotron */
.jumbotron {
    background-image: url(img/jumbotron-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 660px !important;
    text-align: center;
    margin-top: -95px !important;
    position: relative;
    font-family: 'Indie Flower', cursive;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 190px;
    font-weight: 100;
    font-size: 35px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    margin-bottom: 40px;
}

.jumbotron .display-4 span {
    font-weight: 600;
}


/* info panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: 60px;
    height: 550px;
    background-color: white;
    padding: 30px;
    font-family: 'Indie Flower', cursive;
}

.info-panel img {
    width: 90px;
    height: 90px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 70px;
    margin-left: 50px;
}

.info-panel h3 {
    margin-left: 20px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
}

.info-panel h4 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    margin-top: 90px;
}

.info-panel .skill-title{
    margin-top: 25px;
}




/* working space container */
.working-space {
    margin-top: 160px;
    font-family: 'Indie Flower', cursive;
}

.working-space h2,
p,
.utility-button {
    margin-left: 30px;
}

.working-space h2 {
    font-size: 35px;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 30px;
}

.working-space p {
    font-size: 25px;
    color: #8d8d8d;
    margin-top: 30px;

}

.working-space img {
    width: 450px;
    height: 280px;
    border-radius: 30px;
    margin-left: 35px;
}

.working-space a{
    text-decoration: none;
    color:#8d8d8d;
}

.working-space a:hover{
    text-shadow: 5px 3px 8px #8d8d8d;
    transition: 0.3s;
}


/* Back to to button */

.to-top {
    margin-top: 90px;
    font-family: 'Indie Flower', cursive;
}

.to-top a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}



/* footer */
footer {
    color: gray;
    margin-top: 160px;
    background-color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    height: 230px;
    font-family: 'Indie Flower', cursive;
}

footer h4 {
    font-size: 35px;
    font-weight: 200;
    margin-top: 30px;
    font-style: italic;
}

footer .logos img {
    width: 50px;
    height: 50px;
    margin: 20px 30px;
}



/* project panel */
.project-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: 160px;
    height: 350px;
    background-color: white;
    padding: 30px;
    font-family: 'Indie Flower', cursive;
}

.project-panel img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 70px;
    margin-left: 70px;
}

.project-panel h3 {
    margin-left: 20px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
}

.project-panel h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    margin-top: 80px;
}

.project-panel .skill-title{
    margin-top: 25px;
}

.project-panel .project-panel-item #pneumonia-diagnoser-link{
    color: black;
    text-decoration: none;
}

.project-panel .project-panel-item #pneumonia-diagnoser-link:hover{
    text-shadow: 5px 3px 8px black;
    transition: 0.3s;
}




@media (max-width: 768px) {
    .navbar{
        display: none;
    }

    .jumbotron .display-4 {
        font-size: 35px;
        margin-top: 250px;
    }

    .info-panel{
        height: 780px;
    }


    .working-space img{
        display: none;
    }

    .working-space h2{
        margin-top: -30px;
        font-size: 50px;
        text-align: center;
    }

    .working-space p{
        font-size: 30px;
        text-align: center;
    }

    .testimony h5 {
        font-size: 27px;
    }

    .project-panel{
        height: 500px;
    }

}



@media (max-width: 425px){
    
    .jumbotron{
        height: 570px !important;
    }
    
    .jumbotron .display-4{
        font-size: 30px;
        margin-top: 260px;
    }

    .info-panel{
        height: 670px;
    }

    .info-panel img{
        width: 50px;
        height: 50px;
    }

    .info-panel h4{
        font-size: 17px;
        margin-top: 80px;
    }

    .working-space h2{
        margin-top: -80px;
        font-size: 30px;
    }

    .working-space p{
        font-size: 20px;
    }

    .project-panel .skill-title h3{
        font-size: 20px;
    }

    .project-panel-item h4{
        font-size: 15px;
        margin-top: 70px;
    }

    .project-panel-item img{
        height: 55px;
        width: 55px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-top: 70px;
        margin-left: 70px;
    }

    .footer h4{
        font-size: 25px;
    }

    .footer img{
        width: 20px;
        height: 20px;
    }

}
